<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <!-- Interpolation syntax -->
    <h3> <%= 1*8  %> </h3> 
    <h3><%= "apnacollege".toUpperCase(); %></h3>
    <h3><%= ["Hello","Bonjour","Namaste"][1] %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta fugit minima ullam itaque vitae ab est temporibus, repudiandae alias dolorum eum, quisquam voluptatum autem illum, cum repellat! Mollitia, ab voluptatum.</p>
    <button>Click me!</button>
</body>
</html>