<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User detail</title>
</head>
<style>
    table,th,td{
        border: 2px,solid,black;
    }
</style>
<body>
    <h2>You are about to edit : <%= user.username %></h2>
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= user.id %></td>
               <td><%= user.username %></td>
            </tr>
        </tbody>
    </table>

    <form action="/user/<%= user.id %>?_method=DELETE" method="post">
        <input type="text" name="useremail" id="" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter Password">    
        <button>Submit</button>
    </form>

</body>
</html>