<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user document</title>
</head>
<body>
    <h2>Add details of new user </h2>

        <form action="/user" method="post">
            <input type="text" name="username" placeholder="Enter Username" id="">
            <br>
            <input type="text" name="email" placeholder="Enter Email" id="">
            <br>
            <input type="password" name="password" placeholder="Enter Password" id="">
            <button>Submit</button>
            </form>
    
</body>
</html>